.add-invoice {
  width: 71.9rem;
  height: 100%;
  overflow-y: auto;
  padding-left: 10.3rem;
  background-color: var(--bg-tertiary);
  border-radius: 0 2rem 2rem 0;
}

.form-container {
  padding: 5.6rem 5.6rem 3.2rem;
}

.title {
  font-family: "Spartan Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--text-primary);
  text-transform: capitalize;
}
