.invoices {
  min-height: 100vh;
  position: relative;
  padding: 7.2rem 0;

  &__container {
    width: 87.5%;
    max-width: 73rem;
    margin: 0 auto 5rem;
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
  }

  &__nav {
    position: absolute;
    bottom: 7.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.5%;
    max-width: 73rem;
    margin: 0 auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--left {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &--right {
    display: flex;
    gap: 4rem;
  }
}

.title {
  font-family: "Spartan Bold", sans-serif;
  color: var(--text-primary);
  font-size: 3.2rem;
}

.count {
  font-size: 1.2rem;
  color: #888eb0;
}

.filter {
  display: flex;
  align-items: center;
  position: relative;

  &__options {
    width: 19.2rem;
    position: absolute;
    left: -3.7rem;
    bottom: 0;
    transform: translateY(calc(100% + 8px));
    padding: 2.4rem;
    background-color: var(--bg-filter);
    box-shadow: var(--filter-shadow);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    border-radius: 8px;
  }

  &__option-btn {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  &__option-box {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--cta-primary);
    background-color: var(--bg-checkbox);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: 0.3s background-color ease-in;

    .check {
      display: none;
    }

    &.selected {
      background-color: var(--cta-primary);

      .check {
        display: block;
      }
    }
  }

  &__option-text {
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: var(--text-primary);
  }
}

.btn {
  &__filter {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.2rem;
    color: var(--text-primary);
    font-family: "Spartan Bold", sans-serif;
  }

  &__filter-icon {
    &.show {
      transform: rotate(180deg);
    }
  }

  &__add {
    padding: 8px 15px 8px 8px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    background-color: var(--cta-primary);
    border-radius: 24px;
    font-family: "Spartan Bold", sans-serif;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s background-color ease-in;

    &:hover {
      background-color: var(--cta-primary-light);
    }
  }

  &__add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100px;
    background-color: #fff;
  }

  &__next,
  &__previous {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__next-text,
  &__previous-text {
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: var(--text-primary);
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.item {
  background-color: var(--bg-invoice-item);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  border: 1px solid var(--bg-invoice-item);
  transition: 0.3s border ease-in;

  &:hover {
    border: 1px solid var(--cta-primary);
  }

  &__link {
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr repeat(2, min-content);
    align-items: center;
    width: 100%;
    padding: 1.6rem 3.2rem;
  }

  .number {
    width: 10.3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    font-family: "Spartan Bold", sans-serif;
    color: var(--text-primary);

    .hash {
      color: #7e88c3;
    }
  }

  .due {
    width: 15.1rem;
    text-transform: capitalize;
    color: var(--text-secondary);
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
  }

  .name {
    color: var(--text-tertiary);
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    text-transform: capitalize;
  }

  .total {
    justify-self: end;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.8px;
    font-family: "Spartan Bold", sans-serif;
    color: var(--text-primary);
    text-align: right;
  }

  .status {
    margin: 0 2rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 10.4rem;
    height: 4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    font-family: "Spartan Bold", sans-serif;
    text-transform: capitalize;
    border-radius: 6px;

    &__dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 100px;
    }

    &.paid {
      background-color: var(--status-primary-bg);
      color: var(--status-primary);

      .status__dot {
        background-color: var(--status-primary);
      }
    }

    &.pending {
      background-color: var(--status-secondary-bg);
      color: var(--status-secondary);

      .status__dot {
        background-color: var(--status-secondary);
      }
    }

    &.draft {
      background-color: var(--draft-bg);
      color: var(--draft);

      .status__dot {
        background-color: var(--draft);
      }
    }
  }
}

.empty {
  width: 24.2rem;
  text-align: center;
  margin: 7.6rem auto 0;

  &__title {
    font-family: "Spartan Bold", sans-serif;
    font-size: 2rem;
    color: var(--text-primary);
    margin-bottom: 2.4rem;
  }

  &__msg {
    font-size: 1.2rem;
    color: #888eb0;
    margin: 0 0.5rem;
    line-height: 1.5rem;

    .special {
      font-family: "Spartan Bold", sans-serif;
    }
  }
}

.illustration-box {
  margin-bottom: 6.4rem;
}
