.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 10.3rem;
  // min-height: 80rem;
  min-height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  z-index: 20;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  &__item {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.section__links {
  flex-grow: 1;
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-box {
  height: 10.3rem;
  background-color: var(--cta-primary);
  position: relative;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50%;
    background-color: var(--cta-primary-light);
    border-radius: 20px 0 20px 0;
  }
}

.logo-link {
  z-index: 1;
}

.btn {
  &__theme {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 6rem;
  height: 100%;
  background-color: var(--status-secondary-bg);
  font-family: "Spartan Bold", sans-serif;
  color: var(--status-secondary);
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 5px;
  text-align: center;
  line-height: 2.5rem;
  padding: 0 1.5rem;
}

.nav__link:hover,
.btn__theme:hover {
  .tooltip {
    display: inline-block;
  }
}

.profile-box {
  height: 8.8rem;
  border-top: 1px solid var(--divider);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-link {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.profile-avatar {
  width: 100%;
  height: auto;
  border-radius: 100px;
}

@media screen and (max-width: 1279px) {
  .nav {
    position: fixed;
    width: 100%;
    height: 8rem;
    min-height: auto;
    flex-direction: row;
    border-radius: 0;

    &__list {
      flex-direction: row;
      height: 100%;
    }
  }

  .logo-box {
    height: 8rem;
    width: 8rem;
  }

  .section__links {
    padding: 0 3.2rem;
    flex-direction: row;
  }

  .tooltip {
    left: 50%;
    transform: translate(-50%, calc(100% + 3rem));
  }

  .profile-box {
    height: 100%;
    width: 9.6rem;
    border-left: 1px solid var(--divider);
    border-top: none;
  }

  .profile-link {
    width: 3.2rem;
    height: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 7.2rem;

    &__list {
      gap: 2rem;
    }

    &__item {
      &.home {
        display: none;
      }
    }
  }

  .section__links {
    padding: 0 2rem;
  }

  .logo-box {
    height: 7.2rem;
    width: 7.2rem;
  }

  .profile-box {
    width: 8rem;
  }
}
