.home {
  min-width: 30rem;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem 0;
}

.title {
  display: inline-block;
  font-family: "Spartan Bold", sans-serif;
  font-size: 7.5rem;
  text-transform: capitalize;
  background: linear-gradient(var(--cta-primary), var(--cta-primary-light));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 3rem;
}

.message {
  font-family: "Spartan Medium", sans-serif;
  font-size: 2.5rem;
  line-height: 3.2rem;
  color: var(--text-primary);
  margin-bottom: 7.5rem;
}

.btn {
  &__join,
  &__invoices {
    background-color: var(--cta-primary);
    display: inline-block;
    padding: 2rem 3.5rem;
    color: #fff;
    font-family: "Spartan Bold", sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 2.4rem;
    transition: 0.2s all ease-in;

    &:hover {
      background-color: var(--cta-primary-light);
      transform: translateY(-10px);
    }

    &:active {
      transform: translateY(-5px);
    }
  }
}

@media screen and (max-width: 1279px) {
  .home {
    position: relative;
    transform: translate(0, 0);
    left: 0;
    top: 0;
    width: 100%;
    padding: 26.5rem 5rem 18.5rem;
  }

  .title {
    font-size: 5rem;
  }

  .message {
    font-size: 2rem;
  }

  .btn {
    &__join,
    &__invoices {
      padding: 1.5rem 3rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    padding: 12rem 2rem 5rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .message {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }

  .btn {
    &__join,
    &__invoices {
      font-size: 1.6rem;
    }
  }
}
