.invoice {
  min-height: 100vh;
  position: relative;
  padding: 6.4rem 0;

  &__container {
    width: 87.5%;
    max-width: 73rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.btn {
  &__back {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    text-transform: capitalize;
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-primary);
    margin-bottom: 3.2rem;
  }

  &__edit {
    border-radius: 24px;
    background-color: var(--btn-bg-primary);
    padding: 1.7rem 2.4rem;
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--text-secondary);
    transition: 0.3s background-color ease-in, 0.3s color ease-in;

    &:hover {
      background-color: var(--btn-hover-bg-primary);
      color: #7e88c3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__delete {
    border-radius: 24px;
    background-color: var(--cta-secondary);
    padding: 1.7rem 2.4rem;
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
    transition: 0.3s background-color ease-in;

    &:hover {
      background-color: var(--cta-secondary-light);
    }
  }

  &__paid {
    border-radius: 24px;
    background-color: var(--cta-primary);
    padding: 1.7rem 2.4rem;
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
    transition: 0.3s background-color ease-in;

    &:hover {
      background-color: var(--cta-primary-light);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.header {
  width: 100%;
  background-color: var(--bg-tertiary);
  padding: 2rem 3.2rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  &__btns {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    color: var(--cta-secondary);
    font-size: 1.2rem;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &__label {
    color: var(--text-secondary);
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 4rem;
    width: 10.4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: "Spartan Bold", sans-serif;
    text-transform: capitalize;
    border-radius: 6px;

    &.paid {
      background-color: var(--status-primary-bg);
      color: var(--status-primary);

      .status__dot {
        background-color: var(--status-primary);
      }
    }

    &.pending {
      background-color: var(--status-secondary-bg);
      color: var(--status-secondary);

      .status__dot {
        background-color: var(--status-secondary);
      }
    }

    &.draft {
      background-color: var(--draft-bg);
      color: var(--draft);

      .status__dot {
        background-color: var(--draft);
      }
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
  }
}

.details {
  width: 100%;
  background-color: var(--bg-tertiary);
  padding: 4.8rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  .main {
    margin-bottom: 4.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 2.1rem;

    .title,
    .client,
    .address,
    .dates,
    .sent,
    .created,
    .due {
      display: flex;
      flex-direction: column;
    }

    .title {
      grid-column: 1 / span 2;
      gap: 0.8rem;
    }

    .dates {
      gap: 3.2rem;
    }

    .sent,
    .created,
    .due,
    .client {
      gap: 1.2rem;
    }

    .sender {
      justify-self: end;
    }

    .number {
      font-family: "Spartan Bold", sans-serif;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: var(--text-primary);

      .hash {
        color: #888eb0;
      }
    }

    .description,
    .created__label,
    .due__label,
    .client__label,
    .sent__label {
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: var(--text-secondary);
    }

    .created__value,
    .due__value,
    .sent__value {
      font-family: "Spartan Bold", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--text-primary);
    }

    .address {
      font-size: 1.1rem;
      line-height: 1.8rem;
      color: var(--text-secondary);

      .name {
        font-family: "Spartan Bold", sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        color: var(--text-primary);
        margin-bottom: 0.8rem;
      }
    }
  }

  .items {
    padding: 3.2rem 3.2rem 4rem 3.2rem;
    background-color: var(--btn-bg-primary);
    border-radius: 8px 8px 0 0;

    &__labels {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: end;
      margin-bottom: 3.2rem;
    }

    &__label {
      text-transform: capitalize;
      color: var(--text-secondary);
      font-size: 1.1rem;
      line-height: 1.8rem;

      &.left {
        justify-self: start;
      }

      &.upper {
        text-transform: uppercase;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    .item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: end;

      &__value {
        font-family: "Spartan Bold", sans-serif;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-transform: capitalize;

        &.left {
          justify-self: start;
        }
      }

      &__name,
      &__total {
        color: var(--text-primary);
      }

      &__quantity,
      &__price,
      &__multiplication {
        color: var(--text-secondary);
      }

      &__multiplication {
        display: none;
      }
    }
  }

  .total {
    padding: 2.4rem 3.2rem;
    background-color: var(--bg-total);
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      text-transform: capitalize;
      font-size: 1.1rem;
      line-height: 1.8rem;
      color: #fff;
    }

    &__value {
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: #fff;
      font-family: "Spartan Bold", sans-serif;
    }
  }
}

@media screen and (max-width: 1279px) {
  .invoice {
    padding: 12.8rem 0 4.8rem;
  }

  .overlay {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .invoice {
    padding: 10.4rem 0 14.7rem;
  }

  .overlay {
    padding-top: 7.2rem;
  }

  .header {
    margin-bottom: 1.6rem;
    padding: 2.4rem;

    &__btns {
      background-color: var(--bg-tertiary);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2.1rem 2.4rem 2.2rem;
    }
  }

  .status {
    justify-content: space-between;
    width: 100%;
  }

  .btn {
    &__paid {
      padding: 1.7rem 2.8rem;
    }
  }

  .details {
    padding: 2.4rem;

    .main {
      margin-bottom: 4rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      row-gap: 3.1rem;

      .title,
      .sender,
      .sent {
        grid-column: 1 / span 2;
      }

      .title {
        gap: 0.4rem;
      }

      .number {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }

      .sender {
        justify-self: start;
      }
    }

    .items {
      padding: 2.4rem;

      &__labels {
        display: none;
      }

      .item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        justify-items: start;
        row-gap: 0.8rem;

        &__quantity,
        &__price {
          display: none;
        }

        &__multiplication {
          display: block;
        }

        &__total {
          justify-self: end;
          grid-row: 1 / span 2;
          align-self: center;
        }
      }
    }

    .total {
      padding: 2.4rem;

      &__value {
        font-size: 2rem;
      }
    }
  }
}
