.logout {
  max-width: 50rem;
  min-width: 30rem;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__message {
    font-family: "Spartan Medium", sans-serif;
    font-size: 2.5rem;
    color: var(--text-primary);
    text-align: center;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  font-family: "Spartan Bold", sans-serif;
  font-size: 2rem;
  color: var(--text-primary);
  text-transform: capitalize;
  transition: 0.3s background-color ease-in;
  border-radius: 20px;
  padding: 1.5rem 2.5rem;

  &__cancel {
    background-color: var(--cta-primary);

    &:hover {
      background-color: var(--cta-primary-light);
    }
  }

  &__confirm {
    background-color: var(--cta-secondary);

    &:hover {
      background-color: var(--cta-secondary-light);
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 1.6rem;
  }
}
